<html>
  <body>
    
    <p><%= flash[:notice] %></p>

    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= @book.body %>
    </p>
    
    <div class = inlineblock>
      <div class = Show-Edit>
        <%= link_to "Edit", edit_book_path %>
      </div>
      <div class = Show-Back>
        <%= link_to "Back", books_path %>
      </div>
    <div>
      
  </body>
</html>